{% extends "base.html" %}

{% block title %}
    {{ todo_item.name }}
{% endblock title %}
{% block content %}
    <main>
        <center>
            <div>
                <h1>{{ todo_item.name }}</h1>
                <h2>Tasks</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Due date</th>
                            <th>Completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for thing in todo_item.items.all %}
                            <tr>
                                <td>
                                    <a href="{% url 'todo_item_update' thing.id %}">{{ thing.task }}</a>
                                </td>
                                <td>{{ thing.due_date|date:"F j, Y" }}</td>
                                <td>{{ thing.is_completed }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br>
                <a href="{% url 'todo_list_update' todo_item.id %}">RENAME</a>
                <br>
                <a href="{% url 'todo_list_delete' todo_item.id %}">DELETE</a>
            </div>
        </center>
    </main>
{% endblock content %}
