{% extends "base.html" %}

{% block title %}
    Todo Lists
{% endblock title %}
{% block content %}
    <main>
        <center>
            <div>
                <h1>My Lists</h1>
                {% comment %} <a href="{% url 'todo_list_create' %}">Create a new list</a>
                <br>
                <a href="{% url 'todo_item_create' %}">Create a new item</a> {% endcomment %}
                <table class="list_table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of items</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in todo_list.all %}
                            <tr>
                                <td>
                                    <a href="{% url 'todo_list_detail' item.id %}">{{ item }}</a>
                                </td>
                                <td>{{ item.items.count }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </center>
    </main>
{% endblock content %}
