{% extends "base.html" %}

{% block title %}
    Todo Lists
{% endblock title %}
{% block content %}
    <main>
        <center>
            <div>
                <h1>Update list</h1>
                <div class="form-grid">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Update</button>
                    </form>
                </div>
            </div>
        </center>
    </main>
{% endblock content %}
