@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
}

html {
    background: radial-gradient(circle, rgb(13, 84, 85) 0%, rgb(43, 49, 47) 100%);
    min-height: 100vh
}

nav {
    /* border-bottom: 1px solid black; */
    padding: 10px;
    background-color: transparent;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    margin: 0 5px;
}

#logo {
    font-size: 2.5em;
    color: #ffffff;
    float: left;
    font-family: 'Jersey 15';
}

.form-grid p {
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.form-grid p textarea {
    width: 170px;
    height: 100px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.356);
    background-color: #093030;
    color: #d2e9e3;
}

.form-grid p select {
    width: 170px;
    height: auto;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.356);
    background-color: #093030;
    color: #d2e9e3;
}

#id_is_completed {
    width: auto;
    border-style: solid;
    border-width: 9px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.356);
}

input#id_is_completed {
    accent-color: #093030;
}

.form-grid p input {
    width: 170px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.356);
    background-color: #093030;
    color: #d2e9e3;
}

.form-grid button {
    background-color: #093030;
    color: #d2e9e3;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.356);
    font-family: 'Space Mono';
}

.form-grid button:hover {
    background-color: #d2e9e3;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.356);
    font-family: 'Space Mono';
    color: #093030;
}

.form-grid label {
    text-transform: capitalize;
}

body {
    padding: 0%;
    padding-bottom: 0%;
    margin: 0%;
    font-family: 'Space Mono';
    color: #d2e9e3;
    text-shadow: rgba(0, 0, 0, 0.356) 3px 3px 3px;
}

main {
    padding: 16px;
    margin-bottom: 1em;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

table,
th,
td {
    text-align: center;
    border: 1px solid;
    border-collapse: collapse;
    padding: 10px;
    border-color: #d8b08c;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.356);
}

main img {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.356);
    border: #026253;
    border-radius: 20%;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 16px;
    font-size: 0.85em;
    color: #ffffff;
    text-shadow: rgba(0, 0, 0, 0.356) 3px 3px 3px;
}

h1,
h2,
h3 {
    color: #a1e9d6;
    font-family: 'Jersey 15';
    font-weight: lighter;
    text-shadow: rgba(0, 0, 0, 0.356) 3px 3px 3px;
}


nav a:link {
    color: #d2e9e3;
}

nav a:visited {
    color: #d2e9e3;
}

nav a:active {
    color: #2c3532;
}

nav a:hover {
    color: #adc0bb;
}

a:link {
    text-decoration: none;
    color: #d2e9e3;
}

a:visited {
    text-decoration: none;
    color: #d2e9e3;
}

a:hover {
    text-decoration: none;
    color: #adc0bb;
}

a:active {
    text-decoration: none;
    color: #d2e9e3;
}

.error-page {
    height: 100vw;
    background-color: #bbbdaf;
}
