{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static "todos.css" %}">
    </head>
    <body>
        <div id="page-container">
            <header>
                <nav>
                    <ul>
                        <div id="logo">
                            <li>
                                Brain<sup>2</sup>
                            </li>
                        </div>
                        <div class="flex">
                            <li>
                                <a href="{% url 'todo_list_list' %}">My Todos</a>
                            </li>
                            <li>
                                <a href="{% url 'todo_list_create' %}">Create List</a>
                            </li>
                            <li>
                                <a href="{% url 'todo_item_create' %}">Create Item</a>
                            </li>
                        </div>
                        <div class="flex">
                            <li>
                                <a href="https://www.hackreactor.com" target="_blank">HackReactor</a>
                            </li>
                        </div>
                    </ul>
                </nav>
            </header>
            <div id="content-wrap">
                {% block content %}
                {% endblock content %}
            </div>
            <footer>
                <center>Copyright ⓒ 2024 - Brain<sup>2</sup> LLC</center>
            </footer>
        </div>
    </body>
</html>
